    // Put your scss code here
    $bar_color: rgb(60, 60, 60);

    @mixin display_setting($grid) {
        @if $grid {
            display: grid;    
        } @else {
            display: flex;
        }
        align-items: center;
    }

    @mixin header_trans {
        transition-property: height;
        transition-duration: 0.4s;
        transition-timing-function: ease-in-out;
    }

    @mixin btn_setting {
        height: 2vw;
        width: 2vw;
        border-radius: 50%;
        background-color: lightgrey;
        &:hover {
            background-color: darkgrey;
        }
    }

    p {
        font-size: 1.25vw;
        color: grey;
    }
    
    h1 {
        font-size: 2vw;
    }
    html {
        margin: 0;
        padding: 0;
        width: 100vw;
    }
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", "Segoe UI";
        overflow-x: hidden;

        .Header {
            @include display_setting(true);

            color: white;
            background-color: $bar_color;
            opacity: 0.9;
            
            grid-template-columns: 1fr 1fr;
            
            
            position: fixed;
            width: 100vw;
            z-index: 1;
            &.expand {
                height: 10vw;
                
                @include header_trans();
            }
            &.shrink {
                height: 5vw;
                
                @include header_trans();
            }
            .Title {
                @include display_setting(false);
                justify-content: flex-start;
                
                padding-left: 2vw;
                &.expandTitleFont {
                    font-size: 2rem;
                    animation: expandTitleFont 0.4s;
                }
                &.shrinkTitleFont {
                    font-size: 1.75rem;
                    animation: shrinkTitleFont 0.4s;
                }
            }
            .Buttons {
                @include display_setting(false);
                justify-content: flex-end;
                
                padding-right: 2vw;
                &.expandFont {
                    font-size: 1rem;
                    animation: expandFont 0.4s;
                }
                &.shrinkFont {
                    font-size: 0.75rem;
                    animation: shrinkFont 0.4s;
                }
            }
        }
        .Row {
            @include display_setting(false);
            justify-content: space-evenly;
            
            padding: 5vw;
            &>div {
                width: 30vw;
                text-align: center;
            }
        }
        .Footer {
            @include display_setting(true);
            border-top: 2px solid #d3d3d3;
            padding: 5vw;
            margin-left: 2.5vw;
            margin-right: 2.5vw;
            
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 1vw;
            justify-items: center;
            
        }
        .btn {
            margin: 0.5vw;
            padding: 0.5vw;
            &:hover {
                border-bottom: 2px dotted white;
            }
        }
        .slide-btn {
            @include btn_setting();

            @include display_setting(false);
            justify-content: center;
        }
        .slide_container {
            width: 50vw;
            height: 20vw;
            position: relative;
            transition: transform 1s;
            transform: translateZ(-50rem);
            transform-style: preserve-3d;
        }
        .project {
            @include display_setting(true);
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            padding: 1vw;
            justify-items: center;
            
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            &>img {
                height: 10vw;
                width: 10vw;
            }
            &:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            }
            &.proj_modal {
                width: 50%;
                height: 60%;
                z-index: 10;
                position: relative;
                animation: popOut 1s;
                &>img {
                    height: 75px;
                    width: 75px;
                }
            }
        }
        .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            
            @include display_setting(false);
            justify-content: center;
            
            &.modal_ver {
                z-index: 5;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: fixed;
                background-color: white;
                animation: fadeInBackground 0.5s;
            }
        }
        .modal:nth-child(1) {
            transform: rotateY( 0deg) translateZ(26vw) translateY(-50%) translateX(-50%);
        }
        .modal:nth-child(2) {
            transform: rotateY( 90deg) translateZ(1vw) translateY(-50%);
        }
        .modal:nth-child(3) {
            transform: rotateY(180deg) translateZ(26vw) translateY(-50%) translateX(50%);
        }
        .modal:nth-child(4) {
            transform: rotateY(270deg) translateZ(51vw) translateY(-50%);
        }
        .modal_content {
            display: none;
            grid-row: 2/4;
            grid-column: 1/4;
            animation: fadeIn 3.5s;
        }
        .modal_exit {
            @include btn_setting();

            display: none;
            grid-row: 1;
            grid-column: 3;
            justify-self: flex-end;
            align-self: flex-start;
            
            animation: fadeIn 1s;

            justify-content: center;
            align-items: center;
        }
        .icon {
            grid-column: 2;
            grid-row: 1/3;
            &.proj_expand {
                justify-self: flex-end;
                grid-column: 1;
                grid-row: 1;
                animation: fadeIn 1s
            }
        }
        .title {
            grid-column: 1/4;
            grid-row: 3;
            &.proj_expand {
                grid-column: 2;
                grid-row: 1;
                animation: fadeIn 1s
            }
        }
        #intro_header {
            padding-bottom: 3rem;
        }
        #my_photo {
            border-radius: 50%;
            margin-left: 10rem;
        }
        #background {
            background-image: url('assets/background.jpg');
            height: 50vw;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        #videoBackground {
            right: 0;
            bottom: 0;
            width: 100%;
        }
        #project_details {
            width: 100%;
            height: 30vw;
            position: relative;
            
            @include display_setting(false);
            justify-content: space-around;
            
            perspective: 2000px;
        }
        #Row3 {
            position: relative;
            height: 20vw;
        }
        #jojo_arrow {
            position: absolute;
            left: 70%;
            &.end {
                left: 0%;
                animation: moveLeft 2s;
            }
            &>img {
                display: inline-block;
            }
        }
        #name {
            grid-column: 2;
            grid-row: 1;
        }
        #email {
            grid-column: 3;
            grid-row: 1;
        }
        #phone {
            grid-column: 4;
            grid-row: 1;
        }
        #linkedin {
            grid-column: 2;
            justify-self: flex-end;
        }
        #instagram {
            grid-column: 3;
        }
        #facebook {
            grid-column: 4;
            justify-self: flex-start;
        }
    }
    
    @keyframes expandTitleFont {
        from {
            font-size: 1.75rem;
        }
        to {
            font-size: 2rem;
        }
    }
    
    @keyframes shrinkTitleFont {
        from {
            font-size: 2rem;
        }
        to {
            font-size: 1.75rem;
        }
    }
    
    @keyframes expandFont {
        from {
            font-size: 0.75rem;
        }
        to {
            font-size: 1rem;
        }
    }
    
    @keyframes shrinkFont {
        from {
            font-size: 1rem;
        }
        to {
            font-size: 0.75rem;
        }
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0
        }
        to {
            opacity: 1
        }
    }
    
    @keyframes popOut {
        from {
            width: 50rem;
            height: 30rem;
        }
        to {
            width: 50%;
            height: 60%;
        }
    }
    
    @keyframes fadeInBackground {
        from {
            background-color: rgba(0, 0, 0, 0);
        }
        to {
            background-color: white;
        }
    }
    
    @keyframes moveLeft {
        from {
            left: 60%;
        }
        to {
            left: 0%;
        }
    }
